/* directories */
 table tr.dir td:first-of-type a
{background-image: url(/.index/exten/mint/folder.png);}
 table tr.folder_hidden td:first-of-type a
{background-image: url(/.index/exten/mint/folder_hidden.png);}
 table tr.folder_encrypt td:first-of-type a
{background-image: url(/.index/exten/mint/folder_encrypt.png);}
 table tr.folder_locked td:first-of-type a
{background-image: url(/.index/exten/mint/folder_locked.png);}

/* images */
 table tr td:first-of-type a[href$=".jpg"]
,table tr td:first-of-type a[href$=".png"]
,table tr td:first-of-type a[href$=".gif"]
,table tr td:first-of-type a[href$=".svg"]
,table tr td:first-of-type a[href$=".jpeg"]
{background-image: url(/.index/exten/mint/image.png);}

/* zips */
 table tr td:first-of-type a[href$=".zip"]
{background-image: url(/.index/exten/mint/zip.png);}

/* css */
 table tr td:first-of-type a[href$=".css"]
{background-image: url(/.index/exten/mint/css.png);}

/* docs */
 table tr td:first-of-type a[href$=".doc"]
,table tr td:first-of-type a[href$=".docx"]
,table tr td:first-of-type a[href$=".ppt"]
,table tr td:first-of-type a[href$=".pptx"]
,table tr td:first-of-type a[href$=".pps"]
,table tr td:first-of-type a[href$=".ppsx"]
,table tr td:first-of-type a[href$=".xls"]
,table tr td:first-of-type a[href$=".xlsx"]
{background-image: url(/.index/exten/mint/office.png)}

/* docs (free) */
 table tr td:first-of-type a[href$=".odt"]
,table tr td:first-of-type a[href$=".odp"]
{background-image: url(/.index/exten/mint/odt.png)}

/* videos */
 table tr td:first-of-type a[href$=".avi"]
,table tr td:first-of-type a[href$=".wmv"]
,table tr td:first-of-type a[href$=".mp4"]
,table tr td:first-of-type a[href$=".mov"]
,table tr td:first-of-type a[href$=".m4a"]
,table tr td:first-of-type a[href$=".mpeg"]
,table tr td:first-of-type a[href$=".flv"]
,table tr td:first-of-type a[href$=".mkv"]
{background-image: url(/.index/exten/mint/video.png);}

/* audio */
 table tr td:first-of-type a[href$=".mp3"]
,table tr td:first-of-type a[href$=".ogg"]
,table tr td:first-of-type a[href$=".aac"]
,table tr td:first-of-type a[href$=".wma"]
,table tr td:first-of-type a[href$=".wav"]
{background-image: url(/.index/exten/mint/sound.png);}

/* web pages */
 table tr td:first-of-type a[href$=".html"]
,table tr td:first-of-type a[href$=".htm"]
,table tr td:first-of-type a[href$=".xml"]
{background-image: url(/.index/exten/mint/xml.png);}

 table tr td:first-of-type a[href$=".php"]
{background-image: url(/.index/exten/mint/php.png);}

 table tr td:first-of-type a[href$=".js"]
{background-image: url(/.index/exten/mint/script.png);}

/* simple formats */
 table tr td:first-of-type a[href$=".txt"]
{background-image: url(/.index/exten/mint/txt.png);}

/* linux */
 table tr td:first-of-type a[href$=".deb"]
,table tr td:first-of-type a[href$=".rpm"]
{background-image: url(/.index/exten/mint/deb.png);}

 table tr td:first-of-type a[href$=".bin"]
,table tr td:first-of-type a[href$=".dat"]
{background-image: url(/.index/exten/mint/bin.png);}

 table tr td:first-of-type a[href$=".crt"]
,table tr td:first-of-type a[href$=".pem"]
,table tr td:first-of-type a[href$=".p12"]
{background-image: url(/.index/exten/mint/crt.png);}

table tr td:first-of-type a[href$=".key"]
{background-image: url(/.index/exten/mint/key.png);}

 table tr td:first-of-type a[href$=".tar"]
,table tr td:first-of-type a[href$=".gz"]
,table tr td:first-of-type a[href$=".tgz"]
,table tr td:first-of-type a[href$=".bz"]
,table tr td:first-of-type a[href$=".bz2"]
{background-image: url(/.index/exten/mint/zip.png);}

 table tr td:first-of-type a[href$=".sh"]
,table tr td:first-of-type a[href$=".bash"]
,table tr td:first-of-type a[href$=".cmd"]
,table tr td:first-of-type a[href$=".bat"]
{background-image: url(/.index/exten/mint/cmd.png);}

 table tr td:first-of-type a[href$=".msi"]
{background-image: url(/.index/exten/mint/msi.png);}

 table tr td:first-of-type a[href$=".exe"]
{background-image: url(/.index/exten/mint/exe.png);}

 table tr td:first-of-type a[href$=".pdf"]
{background-image: url(/.index/exten/mint/pdf.png);}
