/* directories */
table tr.dir td:first-of-type a
{background-image: url(/.index/exten/urban/folder.png);}

table tr.file td:first-of-type a
{background-image: url(/.index/exten/urban/file.png);}

/* images */
table tr td:first-of-type a[href$=".jpg"], 
table tr td:first-of-type a[href$=".png"], 
table tr td:first-of-type a[href$=".gif"], 
table tr td:first-of-type a[href$=".svg"], 
table tr td:first-of-type a[href$=".jpeg"]
{background-image: url(/.index/exten/default/image.png);}

/* zips */
table tr td:first-of-type a[href$=".zip"] 
{background-image: url(/.index/exten/default/zip.png);}

/* css */
table tr td:first-of-type a[href$=".css"] 
{background-image: url(/.index/exten/default/css.png);}

/* docs */
table tr td:first-of-type a[href$=".doc"],
table tr td:first-of-type a[href$=".docx"],
table tr td:first-of-type a[href$=".ppt"],
table tr td:first-of-type a[href$=".pptx"],
table tr td:first-of-type a[href$=".pps"],
table tr td:first-of-type a[href$=".ppsx"],
table tr td:first-of-type a[href$=".xls"],
table tr td:first-of-type a[href$=".xlsx"]
{background-image: url(/.index/exten/default/office.png)}

/* videos */
table tr td:first-of-type a[href$=".avi"], 
table tr td:first-of-type a[href$=".wmv"], 
table tr td:first-of-type a[href$=".mp4"], 
table tr td:first-of-type a[href$=".mov"], 
table tr td:first-of-type a[href$=".m4a"]
{background-image: url(/.index/exten/default/audio.png);}

/* audio */
table tr td:first-of-type a[href$=".mp3"], 
table tr td:first-of-type a[href$=".ogg"], 
table tr td:first-of-type a[href$=".aac"], 
table tr td:first-of-type a[href$=".wma"] 
{background-image: url(/.index/exten/default/music.png);}

/* web pages */
table tr td:first-of-type a[href$=".html"],
table tr td:first-of-type a[href$=".htm"],
table tr td:first-of-type a[href$=".xml"]
{background-image: url(/.index/exten/default/xml.png);}

table tr td:first-of-type a[href$=".php"] 
{background-image: url(/.index/exten/default/php.png);}

table tr td:first-of-type a[href$=".js"] 
{background-image: url(/.index/exten/default/script.png);}
