body,html {
	margin:0px;
	padding:0px;
	widht:100%;
	height:100%;
	overflow:hidden;
}
.pathhead {
	background:#2b2b2b;
	margin-bottom:10px;
	padding-top:10px;
	font-size:14px;
}
.pathclass {
	padding:10px 15px;
	max-width:800px;
	margin:0 auto;
}
.wrapper {
	max-width:100%;
	background:gray;
	height: 100%;
	position:relative;
	margin:0px;
	padding:0px;
	padding-top:0px;
}
.log {
	overflow:scroll;
	width:100%;
	height:100%;
	background:#ddd;
	padding:0px;
	margin:0px;
	font-size:12px;
}
.date {
	color:#013675;
}


.tag_INFO { /*color: yellow;*/ color:#013675; }
.tag_WARN { color: orange; }
.tag_ERROR { color: red; }

.tag_INFO,
.tag_WARN,
.tag_ERROR {
	font-weight:bold;
}
