html, body {
	height:100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
  overflow-y:scroll;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
  min-height:400px;
}

.table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.files:hover {
  display: table-row;
  background: #d5d5d5;
}


.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}



a:link, a:visited {
	text-decoration:none;
	color:lightgray;
}

a:hover {
	text-decoration:underline;
}

.cell a:link, .cell a:visited { color:#595959; }
.header a:link, .header a:visited { color:white; }

.pathclass {
	color:white;
	font-weight:bold;
	margin-bottom:20px;
}
.icon {
	width:15px;
	height:15px;
}
.orderbtn {
	height:15px;
}
.footer {
	margin:40px 0;
	text-align:center;
	color:#;
}
.dellink:hover {
	color:red !important;
}

.enc {
	color:#444;
	display:block;
	float:right;
	font-weight:normal;
}
.enc span {
	color:red;	
}
