code[class*="language-"],
pre[class*="language-"] {
    font-family: Ubuntu Mono, Tahoma, Consolas;
    padding: 0px;
    margin: 0px;
    background: none;
}

div.code-toolbar > .toolbar {
	right: 20px;
}
