* {
	padding:0;
	margin:0;
}
html {
	height:100%;
}
body {
	font-size: 12px;
	font-family: Ubuntu, Sans-Serif;

	color:#fff;
  	background: #2b2b2b;
  	overflow-y:scroll;
  	min-width: 600px;
}
.body_file_formatter {
	/*overflow-y: hidden;*/
}

h1 {
	text-align: center;
	padding: 20px 0 12px 0;
	margin: 0;
}
h2 {
	font-size: 16px;
	text-align: center;
	padding: 0 0 12px 0; 
}

.container {
	margin: 50px;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	/*position: relative;*/
	background: white; 
	border-radius: 3px;
	padding: 3px 0;
	color:#3b3b3b;
	min-height: 300px;
}

table {
	background-color: #F3F3F3;
	border-collapse: collapse;
	width: 100%;
}

th {
	background-color: #2980b9;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px;
}

.header-red { background: #ea6153; }
.header-green { background: #27ae60; }
.header-blue { background: #2980b9; }

th small {
	font-size: 9px; 
}

td, th {
	text-align: left;
}

a {
	text-decoration: none;
}

td a {
	color: #003311;
	display: block;
	padding: 5px 10px;
}
th a {
	padding-left: 0
}

td:first-of-type a {
	background: url(/.index/img/file.png) no-repeat 10px 50%;
	padding-left: 35px;
}
th:first-of-type {
	padding-left: 35px;
}

td:not(:first-of-type) a {
	background-image: none !important;
} 

tr:nth-of-type(odd) {
	background-color: #e9e9e9;
}

tr td {
	-webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out ;
    -o-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
}
tr:hover td {
	background-color:#bfdfff;
}

tr:hover td a {
	color: #000;
}


.mainmenu {
	margin: 0px 12px;
	padding:10px 0px;
	/*position: relative;*/
}

.mainmenu a:link, .mainmenu a:visited {
	color:#003311;
}

.mainmenu a:hover {
	color:black;
	-webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;

}
.footer {
	margin:40px 0;
	text-align:center;
}

.footer a:link, .footer a:visited {
	text-decoration:none;
	color:#9f9f9f;
}

.footer a:hover {
	text-decoration:underline;
	color: #2980b9;
	-webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out ;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}

.dellink {
	font-weight: bold;
}
.dellink:hover {
	color:red;
}
.rootlink {
	font-weight: bold;
}
.encrypted {
	color:#999;
	position: absolute;
	right: 10px;
	top:10px;
}
.encrypted span {
	font-weight: bold;
}
.encrypted .no {
	color:#f00;
}


.form .password {
	width: 50%;
	margin: 10px auto;
	display: block;
	padding:10px;
	border-radius: 3px;
	border: 1px #999 solid;
}

.form .submit {
	display: block;
	border: 1px #27ae60 solid;
	background: #7bae60;
	padding: 10px;
	color: white;
	font-size: 100%;
	margin: 0 auto;
	min-width: 150px;
	border-radius: 3px;
}

.error_page {
	padding: 15px 50px;
	text-align: center;
}
.error_page .error_text {
	padding: 30px 0px;
}
.error_page .error_image {
	width: 300px;
	margin: 0px auto;
}
.error_page .error_image img { width: 100%; }


hr {
	border: #2980b9 solid 1px;
	margin: 0px auto;
}


/*
.wrapper {
	max-width:100%;
	background:gray;
	height: 100%;
	position:relative;
	margin:0px;
	padding:0px;
	padding-top:0px;
}
*/

.file_formatter {
	overflow:scroll;
	width:100%;
	height:600px;
	background:#eee;
	padding:0px;
	margin:0px;
	font-size:14px;
	position: relative;
	padding-top: 0 5px;
}


.file_formatter_max {
	height: 100%;
	margin:0px;
	padding:0px;
}
.file_formatter_max_body {
	height: auto;
}

.file_formatter_panel {
	/*background-color: black;*/
	display: block;
	position: fixed;
	top:0px;
	right:20px;
	height: 32px;
	overflow: hidden;
}
.file_formatter_button {
	float: left;
	color: gray;
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	text-align: center;
	cursor: pointer;
	margin: 8px;
}
.file_formatter_button:hover {
	float:left;
	color:gray;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	width: 32px;
	margin: 0px;
	color: #7bae60;
}

.file_formatter_max {
	height:100%;
}
.file_formatter_max .file_formatter {
	height:100%;
	padding-bottom: 10px;
}

.file_formatter_editable {
	background-color: white;
}

.format_date {
	color:#013675;
}

.format_INFO,
.format_WARN,
.format_ERROR {
	font-weight:bold;
}

.format_INFO { /*color: yellow;*/ color:#013675; }
.format_WARN { color: orange; }
.format_ERROR { color: red; }

.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
	background-image: url('/.index/img/loader.png');
	font-weight: bold;
	font-size: 72px;
	padding-top: 10%;
	color: #27ae60;
	vertical-align: middle;
	text-align: center;
}

.page-locked {
	background-image: url('/.index/img/locked.png');
}
.page-encrypted {
	background-image: url('/.index/img/locked.png');
}

tr.file {
	position: relative;
}
.preview_image {
	position: absolute;
	display: none;
	border: 1px #ea6153 solid;
	background: white;
	bottom:20px;
	left:200px;
	width:210px;
	padding: 5px;
	max-height: 300px;
	overflow: hidden;
}
.preview_image img {
	width:100%;
	border: 1px #ea6153 solid;
}
tr.file:hover .preview_image { display: block; }


.file_type { width:120px; }
.file_size { width:100px; }
.file_date { width:120px; }
.file_delete { width:20px;  }

/*
	PARSER STYLE
*/

.xml-opentag {
	color:green;
}
.xml-closetag {
	color:red;	
}

.sortable_defaul_sort:after { 
    content: " \25B4\25BE" 
}
.sorttop{
	background:none !important
}
.sorttop-even {
	height:0px !important;
}
.emptytable {
	padding: 40px 0;
	text-align: center;
}
/*table tr td:first-of-type a[href$=".jpg"]*/
.goback td:first-of-type a {
	background-image: url('/.index/img/up.png');
}


.body_dir_hidden {
	background-image: url('/.index/img/bkg_folder_hidden.png');
	background-color: #3b3b3b;
}
.body_dir_password {
	background-image: url('/.index/img/bkg_folder_encrypt.png');
	background-color: #3f3f2b;
}
.body_dir_locked {
	background-image: url('/.index/img/bkg_folder_locked.png');
	background-color: #3f2b2b;
}

.body_dir_hidden, .body_dir_locked, .body_dir_password {
	background-position: -10px -10px;
	background-repeat: no-repeat;
}


.sysfile {
	color: darkred;
}
tr:hover .sysfile:hover {
	color: darkred;
}

table tr.dir td:first-of-type a
{background-image: url(/.index/exten/default/folder.png);}
